<div id="texte">
  Le nom original du site était HESUECO.
  <p>Ce site à été modifié par:</p>
  
  <ul>
    <li>Diego Cormier : Angular</li>
    <li>Adèle Paillard : API Google Maps</li>
    <li>Soukaina Nassib : Coté Back-end</li>
  </ul>
</div>
<h1>Nous contacter</h1>
<div id="coordonnees">
    <ul>
      <li>adresse: 2500 Boulevard de l'Université, Sherbrooke, QC J1K 2R1</li>
      <li>numéro:(819) 821-7111</li>
      <li>site: <a href="usherbooke.ca">usherbrooke.ca</a></li>
      <li>mail: <a href="mailto:adressemail@usherbooke.ca">universite@usherbrooke.ca</a></li>
    </ul>
  </div>
  <div id="map"></div>