html{
  padding: 0;
  margin: 0;
  width: 100%;
  
}

*{
  margin: 0;
  padding: 0;

}

header{
  background: rgb(0, 200, 171);
  width: 100%;
  color: white;
}
#bgleft{
  height: 100px;
  position: absolute;
  top: 0;
}
#bgright{
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
}
#logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 75px;
}
#sidebar{
  
  position:fixed;
  width:150px;
  height:100%;
  background-color: rgba(51, 49, 49, 0.9);
  left:-150px;
  transition:all 500ms ease;
  z-index: 10;

ul li{
  color:rgba(230,230,230,0.9);
  list-style:none;
  padding:15px 10px;
  border-bottom:1px solid rgba(100,100,100,0.3);

.toggle-btn{
  transition-duration: 0.5s;
  position:absolute;
  left:150px;
  top:00px;
  background-color: rgba(51, 49, 49, 0.9);
  cursor: pointer;

  div{
    
    width: 35px;
    height: 2px;
    margin: 8px;
    background-color:white
    
  }
}
}
}
#sidebar.active{

  left:0px;
  
  .toggle-btn{
  #top {
    transition-duration: 0.5s;
		transform:  translateY(10px)  rotate(-135deg) ;
	}
	#middle {
    transition-duration: 0.5s;
		opacity: 0;
		transform: rotate(135deg);
	}
	#bottom {
    transition-duration: 0.5s;
		transform:  translateY(-10px)  rotate(-45deg);
  }
}
}


  #sidebar .toggle-btn{
    position:absolute;
    left:150px;
    top:00px;
    background-color: rgba(51, 49, 49, 0.9);
    cursor: pointer;
    div{
      width: 35px;
      height: 2px;
      margin: 8px;

      background-color:white
    }
  }
  #sidebar .toggle-btn:hover{
    div{
      background-color:rgb(0, 200, 171);
      
    }
    
  }


  a{
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  .link{
    a:hover, button:hover{
    transition-duration: 0.5s;
    color: rgb(0, 200, 171);
    cursor: pointer;
    padding: 15px
  } }