<html>
<head>
    <meta charset="utf-8">
    <title>ecoConduite</title>
    <link rel="icon" type="image/ico" src="../../../images/assets/favicon.ico"/>
</head>
  
<header>
  <img id="bgleft" src="../../../assets/images/BackgroundLeft.png" >
  <div id="logo">
    <a routerLink="/"><img src="../../../assets/images/logo.png" ></a>
  </div>
  <img id="bgright" src="../../../assets/images/BackgroundRight.png" >
</header>
  
<div id="sidebar">
  <div class="toggle-btn" (click)="toggleSidebar()">
    
    <div id="top"></div>
    <div id="middle"></div>
    <div id="bottom"></div>
  </div>
  <ul class="link">
    <li><a  routerLink=""> Acceuil </a></li>
    <li><a class="link" routerLink="navigation"> Navigation </a></li>
    <li><a class="link" routerLink="contact"> Contact </a></li>
    <li><a class="link" routerLink="about"> A propos </a></li>
  </ul>
</div>
</html> 