#texte{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5%;
    background: rgb(230,230,230);
    font-size: 20px;
    text-align: justify;
    box-shadow: 1px 1px 12px #555;
  }
  
  #vehicule img{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }