<html>
  <head>
    <meta charset="utf-8">
    <title>ecoConduite</title>
    <link rel="icon" type="image/png" href="#"/>
  </head>

  <header>
    <h1 align="center">ecoConduite</h1>
  </header>

  <nav>
    <table width="100%" bgcolor="green">
      <td width="33%"><a href="#"> Acceuil </a></td>
      <td width="33%"><a href="#"> Trajet </a></td>
      <td width="33%"><a href="#"> Contact </a></td>
    </table>
  </nav>

  <body>
  <p>mettre du texte ici</p>
  </body>

  <footer>
    <p>created by Diego , Adèle and Soukaina</p>
  </footer>
</html>