<h1>
  Page de navigation
</h1>
<div id="map"></div>
<div id="text">
    Départ : {{departure}}<br>
    Arrivée : {{arrival}} <br>
  </div>
<h3>Choisir vos paramètres :</h3>
  <div class="control">
      <div id="text">Steps:</div>
      <label class="radio">
        <input type="radio" name="answer">
        True
      </label>
      <label class="radio">
        <input type="radio" name="answer">
        False
      </label>
    </div>
<button (click)="simulation()" > Lancer la simulation</button>

